#mainTable{
	border:2px solid black;
	width:100%;
	border-collapse:collapse;
	text-align:center; 
	width:100%;
}


td {
	text-align:center;
	border:1px solid black
	}


ul{
	margin-left:90px;
}


.blueRow{
	background-color:DodgerBlue;
}



#tracksTable{
	border:1px solid black;
	border-collapse:collapse;
	width:90%;
	margin-left:40px;
}