#mainTable{
	border:2px solid black;
	width:100%;
	border-collapse:collapse;
	text-align:center; 
	width:100%;
}

li{
	text-align:left;
		}
		
@font-face {
	font-family:"Permanent Marker";
	font-style: normal;
	font-weight: 400;
	src: url("https://fonts.gstatic.com/s/permanentmarker/v5/9vYsg5VgPHKK8SXYbf3sMsW72xVeg1938eUHStY_AJ4.woff2");
		}

			
/*italicize track nos, titles and lengths*/
/*set table background color*/

td {
	text-align:center;
	border:1px solid black
	}


ul{
	margin-left:90px;
}


.blueRow{
	background-color:DodgerBlue;
}



#tracksTable{
	border:1px solid black;
	border-collapse:collapse;
	width:90%;
	margin-left:40px;
}

/*remove link underline*/
a {
	text-decoration: none;
}

/* hover link background color*/
a:hover {
	text-decoration:underline;
	color:#0B610B;
}


/*alternate background color of tracks*/
tbody tr:nth-of-type(odd){
	background:#A9D0F5;
}


	
