#nameHead{
	font-size:24pt;
	font-family:Finger Paint, cursive;
	padding-top:15px;
	padding-bottom:15px; 
	text-align:center;
	column-span:3;
}
#homeLink{
	width:10%;
	padding-left:15px;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:30px;
	border-right:none;
}

#menuLink{
	width:10%;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
	border-right:none;
	border-left:none;
}
#contactLink{
	width:80%;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
	border-left:none;
}
#addressFoot{
	text-align:center;
	padding-top:10px;
	padding-bottom:5px;
	column-span:3;
}
.linkRow{
	padding-top:20px;
	padding-bottom:20px;
}

@font-face{
	font-family: 'Finger Paint';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/fingerpaint/v4/m_ZRbiY-aPb13R3DWPBGX-gdm0LZdjqr5-oayXSOefg.woff2)
}